@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:wght@200&family=Redressed&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
}

.full-width{
    background-color: #f0f2f5;
    padding: 184px 0 135px 0;
    height: 400px;
}

.max-width{
    margin: 0 auto;
    max-width: 1197px;
    display: flex;
    justify-content: space-between;
    width: 62%;
    height: 500px;
}

.container{
    padding: 62px 0;
    box-sizing: border-box;
    width: 580px;
}

h2{
    font-size: 28px;
    font-weight: normal;
    width: 500px;
}
.img{
    height: 106px;
    width: 60%;
    margin-left: -36px;
} 

.form-sec{
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    width: 42%;
    height: 389px;
    text-align: center;
}

input{
    border: 1px solid #dddfe2;
    width: 100px;
    font-size: 17px;
    color: #90949c;
}

.same{
    padding: 14px 16px;
    border-radius: 6px;
    margin: 20px 20px 0 20px;
}

.btn1{
    background-color: #1877f2;
    border: none;
    font-size: 20px;
    width: 363px;
    color: #fff;
    font-weight: 500;
}

.btn1:hover{
    background-color: #166fe5;
}

.div-a{
    padding-top: 20px;
}

a{
    font-size: 14px;
    text-decoration: none;
    color: #1877f2;
}

.div-a:hover{
    text-decoration: underline;
}

.hr-line{
    width: 363px;
    margin: 20px 0 20px 18px;
    color:  #dadde1;
    
}

.btn2{
    font-weight: 500;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #42b72a;
    color: #fff;
}

.btn2:hover{
    background-color: #36a420;
    
}

.line-1{
    font-size: 14px;
    margin-top: 63px;
}

strong:hover{
    text-decoration: underline;
}

footer{
    margin: 0 auto;
    max-width: 978px;
    color: #737373;
    padding-top: 30px;
    line-height: 1.6;
    font-size: 12px;
    cursor: pointer;
}

.btn3{
    padding: 0px 8px;
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    border-radius: 2px;
}

.btn3:hover{
    background-color: #ccd0d5;
}

hr{
    width: 100%;
    margin: 10px auto;
}

.foot-sec {
    padding-left: 20px;
}

.copyright{
    margin: 20px 0 20px 19px;
    font-size: 11px;
}