h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: blue;
    letter-spacing: 1px;
}

p {font-family: monospace;
font-size: medium;
color: blueviolet;
}
